NEXT_PUBLIC_SITE_URL=https://alkamalia-medical.com
NEXT_PUBLIC_FORMSPREE_BOOKING_ENDPOINT=https://formspree.io/f/your_booking_id
NEXT_PUBLIC_FORMSPREE_CONTACT_ENDPOINT=https://formspree.io/f/your_contact_id
NEXT_PUBLIC_FORMSPREE_EMERGENCY_ENDPOINT=https://formspree.io/f/your_emergency_id
NEXT_PUBLIC_FORMSPREE_KIDS_ENDPOINT=https://formspree.io/f/your_kids_id
